<div class="left"></div>
<div class="right"></div>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="card" id="body4">
        <div class="card-block text-xs-left">
          <div id="winnerBox">
            <img src="{{winner.avatar}}" width='200px' height='200px' id='winnerPic'>
            <h1 id='winnerName'>{{winner.name}} - {{winner.score}}</h1>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-block text-xs-left">
          <h4 class="card-title">Runner-ups</h4>
          <ol id="runnerUps" start='2'>
            {{#each runnerUps}}
            <li class="runnerUp">
              {{this.name}} - {{this.score}}
            </li>
            {{/each}}
          </ol>
        </div>
      </div>
    </div>
  </div>
</div>